{% liquid 
    if request.page_type == 'cart' 
        assign show_feature = section.settings.show_testimonials
    else
        assign show_feature = settings.cart_show_testimonial
    endif
%}

{% if show_feature %}
    <div 
        id="cart-testimonial" 
        class="rounded bg-light mb-3 {% if settings.cart_testimonial_img %}has-testimonial-img{% endif %}">
        {% unless settings.cart_testimonial_img == blank %}
            <img
                class="img-fluid rounded-circle"
                src="{{ settings.cart_testimonial_img.src | image_url: width: 90, height: 90, crop: 'center' }}"
                alt="{{ settings.cart_testimonial_img.alt | escape }}"
                width="45"
                height="45"
                loading="lazy">
        {% endunless %}
        <div class="rte description text-center small">
            {{ settings.cart_testimonial }}
        </div>
    </div>
{% endif %}