{% liquid 
    assign mt = block.settings.mt | prepend: 'mt-'
    assign mb = block.settings.mb | prepend: 'mb-'

    assign current_variant = product.selected_or_first_available_variant

    assign metafield_namespace = block.settings.metafield | split: '.' | first
    assign metafield_key = block.settings.metafield | split: '.' | last
%}
<div id="product-block-variant-description" class="{{ mt }} {{ mb }}">
    <div class="rte description">
        {{ current_variant.metafields[metafield_namespace][metafield_key] | metafield_text }}
    </div>
</div>