{% if section.settings.show_scroll_progress_bar %}
  <div class="scroll-progress-bar-header">
    <div class="scroll-progress-bar-container">
      <div class="scroll-progress-bar" id="scroll-progress-bar"></div>
    </div>
  </div>
{% endif %}